.task {
    background-color: var(--color-005);
    border-radius: var(--border-radius);
    padding: 10px 5px;
}
.task.complete {
    background-image: linear-gradient(var(--color-005), var(--color-005)), linear-gradient(rgba(0, 255, 0, 0.05), rgba(0, 255, 0, 0.05));
}
.dim-completed .task.complete {
    opacity: 0.7;
}
.task.medium:not(.complete) {
    background-image: linear-gradient(var(--color-005), var(--color-005)), linear-gradient(rgba(255, 255, 0, 0.08), rgba(255, 255, 0, 0.08));
}
.task.high:not(.complete) {
    background-image: linear-gradient(var(--color-005), var(--color-005)), linear-gradient(rgba(255, 0, 0, 0.08), rgba(255, 0, 0, 0.08));
}
.task-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.task-content {
    margin: 0px;
    font-size: 20px;
    cursor: text;
    max-width: max-content;
}
.task-content:focus {
    outline: none;
}
.task-deadline {
    color: var(--color-05);
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
}
.task-utils {
    opacity: 0;
    transition: var(--transition);
}
.task:hover .task-utils, .task:focus-within .task-utils, .task-utils {
    opacity: 1;
}
.task-content {
    color: var(--color-08);
    font-size: 20px;
    margin: 5px 0px;
}
.task-complete {
    padding-top: 35px;
}
.react-datepicker-wrapper {
    max-width: max-content;
}

.react-datepicker__tab-loop {
    cursor: default;
}
.react-datepicker {
    opacity: 1;
    background-color: var(--bg-color);
    border-color: var(--color-05);
    border-radius: var(--border-radius);
}
.react-datepicker__header {
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
}
.react-datepicker__triangle::before {
    display: none;
}
.react-datepicker__day {
    transition: var(--transition);
}
.react-datepicker__day:hover {
    background-color: var(--color-02);
}