.create-gap {
    height: 20px;
    transition: all .2s ease;
    overflow: hidden;
    transition-delay: .2s;
}
.task-list:not(.dragging) .create-gap:hover:not(.used) {
    height: 100px;
}
.create-gap > * {
    opacity: 0;
    transition: all .2s ease;
    transition-delay: .2s;
}
.task-list:not(.dragging) .create-gap:hover > * {
    opacity: 1;
}

.task-list > * > .create-gap:last-child {
    opacity: 1;
    height: 100px;
    margin-top: 50px;
}

.task-list > * > .create-gap:last-child > * {
    opacity: 1;
}

.create-gap-buttons {
    border: 1px solid var(--color-05);
    border-radius: var(--border-radius);
    width: max-content !important;
}