.heading {
    padding: 10px 0px;
    background-color: transparent;
    transition: var(--transition);
    border-radius: var(--border-radius);
}
.heading h2 {
    margin: 0px;
}
.heading:hover {
    background-color: var(--color-005);
}

.heading:not(.heading-edit) > .heading-utils {
    opacity: 0;
    transition: var(--transition);
}
.heading:hover > .heading-utils {
    opacity: 1;
}